.bodyPlanet{
    background-image: url("../styles/images/starsdestop.png");
    margin: 0; /* Supprimer la marge par défaut du corps */
    padding: 0; /* Supprimer le rembourrage par défaut du corps */ /* Définir la hauteur à 100% de la vue du navigateur */
    background-size: cover; /* Ajuster la taille de l'image pour couvrir toute la page */
    background-position: center center; /* Centrer l'image horizontalement et verticalement */
    background-attachment: fixed; /* Fixer l'image pendant le défilement de la page */
    background-repeat: repeat; /* Ne pas répéter l'image */
    height:100vh;
    overflow-x: clip;
}

.gauchePlanet{
    font-family: 'Barlow Condensed',sans-serif;
    letter-spacing: 4.72px;
    font-size: 28px;
    color: #D0D6F9;
    font-weight: bolder;
    width: 900px;
    height: 650px;
    margin-top: 3rem;
}
.titreDestination{
    display: flex;

    justify-content: center;
    word-break:break-word;
}

.numeroDestination{
    color: grey;
    margin-right: 2rem;
}

.imagePlanet{
    margin-top: 5rem;
    margin-left: 8rem;
    margin-right: 7rem;
}

.droitePlanet{
    padding-top: 12rem;
    margin-right: 7rem;
}

ul{
    list-style:none;
    text-decoration-style:none;
}
.planet-details{
    text-align: start;
}

.titrePlanet{
    font-family: 'Bellefair', serif;
    font-size: 100px;
    color: white;
    margin-top:1.5rem;
    margin-bottom: 1.5rem;
    text-transform:uppercase;
}
.detailPlanet{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    width:90rm;
    color: #D0D6F9;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 5rem;
}
.planet-container{
    display:flex;
}

.planet-list ul{
    display: flex;
    margin-bottom: 2rem;
    width: 300px;
    justify-content: space-between;
    opacity: initial;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Barlow Condensed',sans-serif;
    font-size: larger;
    font-weight: 900;
    letter-spacing: 2.7px;
    color: #D0D6F9;
}
.planet-list ul li{
    cursor:pointer;
}
.selectedNav{
    border-bottom: 2px solid; /* Définissez la bordure inférieure initialement transparente */
    border-bottom-color: white;
    text-transform:uppercase;
}
.Nav{
    text-transform:uppercase;
}

.statsPlanet{
    display: flex;   
    justify-content: space-between;
    margin-top: 2rem;
    margin-right: 13rem;
}
.titreInfoPlanet{
    filter: unset;
    opacity: initial;
    z-index: 100px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Barlow Condensed',sans-serif;
    font: 16px;
    font-weight: 800;
    letter-spacing: 2.7px;
    color: #D0D6F9;
    text-decoration: none;
}
.infoPlanet{
    font-family: 'Bellefair', serif;
    font-size: 28px;
    color: white;
    margin-top: 1rem;
}

@media screen and (max-width: 1150px) {
    
    .planet-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .titreDestination{
        display: flex;
        margin-left: 3rem;
    }
    .imagePlanet{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0.7) translate(0, -5rem);
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .gauchePlanet{
        font-family: 'Barlow Condensed',sans-serif;
        letter-spacing: 4.72px;
        font-size: 28px;
        color: #D0D6F9;
        font-weight: bolder;
        height: 350px;
        margin-top: 3rem;
    }
    .droitePlanet{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
        margin-right: 0rem;
    }
    .detailPlanet{
        display: flex;
        width:90vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: 18px;
        color: #D0D6F9;
        font-weight: bold;
        line-height: 30px;
        margin-bottom: 2rem;
    }
    .titrePlanet{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Bellefair', serif;
        font-size: 100px;
        color: white;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
    }
    .statsPlanet{
        display: flex;   
        justify-content: space-evenly;
        margin-top: 2rem;
        margin-right: 0rem;
    
    }
    .titreInfoPlanet{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        filter: unset;
        opacity: initial;
        z-index: 100px;
        margin-left: 2rem;
        margin-right: 2rem;
        font-family: 'Barlow Condensed',sans-serif;
        font: 16px;
        font-weight: 800;
        letter-spacing: 2.7px;
        color: #D0D6F9;
        text-decoration: none;
    }
    .bodyPlanet{
        height:100%;
        overflow-x: clip;
    }
}
@media screen and (max-width: 770px) {

    .titreDestination{
        display: flex;
        justify-content: center;
        word-break: break-all;
    }
    .statsPlanet{
        display: flex;   
        justify-content: space-evenly;
        margin-top: 2rem;
        margin-right: 0rem;
    }
    .bodyPlanet{
        height:100%;
        overflow-x: clip;
    }
}